@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Tajawal&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  --primary: #34c4c3;
  --bgColor: #f9f9f9;
  --white: #fff;
  --smokeBlack: #444142;
  --success: #42ba96;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--smokeBlack);
}
#root {
  width: 100%;
  text-align: center;
}
header {
  height: 12vh;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.19);
}
header img {
  width: auto;
  height: 100%;
}

.landing {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  height: 76vh;
  background-color: var(--bgColor);
}
.landing::before {
  content: "";
  background-image: url("./assets/pattern.png");
  background-size: cover;
  position: absolute;
  top: 12vh;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}
.coming-soon {
  font-size: 2.5rem;
  font-weight: bolder;
}
.description {
  font-family: "montserrat-arabiclight";
  font-weight: 200;
  direction: rtl;
  width: 40%;
  padding: 0 15px;
}
form {
  display: flex;
  z-index: 34;
  height: 6vh;
  width: 22rem;
  gap: 0.7rem;
}
form input {
  border-radius: 27px;
  border: none;
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.19);
  padding: 0.5em;
}
#email {
  outline: none;
  width: 100%;
  direction: rtl;
  padding-right: 0.7rem;
  text-align: right;
}
#button {
  all: unset;
  width: 28%;
  padding: 0.5rem;
  border-radius: 30px;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  transition: ease 0.3s;
}
#button:hover {
  background-color: var(--white);
  color: var(--primary);
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.19);
}
.message {
  direction: rtl;
  width: auto;
  cursor: pointer;
  color: var(--smokeBlack);
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.19);
  background-color: var(--white);
  padding: 0.9rem;
  border-radius: 3px 7px 7px 3px;
  border-left: 4px solid var(--success);
  z-index: 38;
}
.sm {
  height: 12vh;
  width: 15rem;
  z-index: 300;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
}
.sm a {
  cursor: pointer;
}
.sm img {
  width: 1.5rem;
}
footer {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}
footer > span {
  color: var(--white);
  font-size: 0.9rem;
}

@media screen and (max-width: 1000px) {
  .landing {
    justify-content: flex-start;
    padding-top: 4rem;
  }
  .description,
  .message {
    width: auto;
  }
  form {
    height: 9vh;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 34;
  }
  form input {
    padding: 15px;
  }
  /* set the width to auto for description , message and coming soon: checked
     change the flex direction for the form inputs : checked
  */
}
